@model UpdateSpecialOfferDto
@{
    ViewData["Title"] = "UpdateSpecialOffer";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Özel Teklif Düzenle</h4>
                <br />
                <form method="post" asp-action="UpdateSpecialOffer" asp-controller="SpecialOffer">
                    @Html.HiddenFor(x => x.SpecialOfferID)

                    <label>Teklif Başlığı</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <br />

                    <label>Teklif Alt Başlığı</label>
                    <input type="text" class="form-control" asp-for="SubTitle" />
                    <br />

                    <label>Teklif Görseli</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" />
                    <br />

                    <button type="submit" class="btn btn-primary">Düzenle</button>
                </form>
            </div>
        </div>
    </div>
</section>