<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/default-assets/images/vendor/columbia.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/default-assets/images/vendor/hummel.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/default-assets/images/vendor/ikea.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/default-assets/images/vendor/koctas.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/default-assets/images/vendor/lacoste.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/default-assets/images/vendor/nike.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>