@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Oluştur</h4>
                <br />
                <form method="post" asp-action="CreateCategory" asp-controller="Category">
                    <label>Kategori Adı</label>
                    <input type="text" class="form-control" asp-for="CategoryName" />

                    <br />

                    <button type="submit" class="btn btn-primary">Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</section>