
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_DefaultLayoutHeadComponentPartial")
<body>
    @await Component.InvokeAsync("_DefaultLayoutTopBarComponentPartial")
    @await Component.InvokeAsync("_DefaultLayoutNavbarComponentPartial")
    @RenderBody()
    @await Component.InvokeAsync("_DefaultLayoutFooterComponentPartial")
    @await Component.InvokeAsync("_DefaultLayoutScriptComponentPartial")
</body>
</html>
