
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/Home">Anasayfa</a>
                <span class="breadcrumb-item active">Ürünler</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            @await Component.InvokeAsync("_ProductPagePriceFilterComponentPartial")
            @await Component.InvokeAsync("_ProductPageColorFilterComponentPartial")
            @await Component.InvokeAsync("_ProductPageSizeFilterComponentPartial")
        </div>

        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                @await Component.InvokeAsync("_ProductPageSortingProductComponentPartial")
                @await Component.InvokeAsync("_ProductPageProductListComponentPartial", new {id = ViewBag.CategoryID})
                @await Component.InvokeAsync("_ProductPagePaginationComponentPartial")
            </div>
        </div>
    </div>
</div>