@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Oluştur</h4>
                <br />
                <form method="post" asp-action="CreateProduct" asp-controller="Product">
                    <label>Ürün Adı</label>
                    <input type="text" class="form-control" asp-for="ProductName" />
                    <br />

                    <label>Ürün Fiyatı</label>
                    <input type="text" class="form-control" asp-for="ProductPrice" />
                    <br />

                    <label>Ürün Görseli 1</label>
                    <input type="text" class="form-control" asp-for="ProductImage1" />
                    <br />

                    <label>Ürün Görseli 2</label>
                    <input type="text" class="form-control" asp-for="ProductImage2" />
                    <br />

                    <label>Ürün Görseli 3</label>
                    <input type="text" class="form-control" asp-for="ProductImage3" />
                    <br />

                    <label>Ürün Kategorisi</label>
                    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.CategoryValues, new {@class="form-control"})
                    <br />

                    <label>Ürün Açıklaması</label>
                    <textarea rows="5" class="form-control" asp-for="ProductDescription" ></textarea>
                    <br />

                    <label>Ürün Detayı</label>
                    <textarea rows="5" class="form-control" asp-for="ProductDetail"></textarea>
                    <br />

                    <label>Ürün Bilgisi</label>
                    <textarea rows="5" class="form-control" asp-for="ProductInfo"></textarea>
                    <br />

                    <button type="submit" class="btn btn-primary">Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</section>

