
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/Home">Anasayfa</a>
                <span class="breadcrumb-item active">Sepet</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row px-xl-5">
        @await Component.InvokeAsync("_CartPageProductListComponentPartial")
        @await Html.PartialAsync("~/Views/Discount/ConfirmDiscountCoupon.cshtml");
    </div>
</div>