@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_UserLayoutHeadComponentPartial")

<body class="sidebar-mini">
    <div class="wrapper">
        @await Component.InvokeAsync("_UserLayoutNavbarComponentPartial")
        @await Component.InvokeAsync("_UserLayoutSidebarComponentPartial")

        <div class="content-wrapper">
            @RenderBody()
        </div>

        @await Component.InvokeAsync("_UserLayoutFooterComponentPartial")
    </div>

    @await Component.InvokeAsync("_UserLayoutScriptComponentPartial")
</body>
</html>

